<div class="container mbm">
  <div class="box-header">
    <h3> USER_EMAIL</h3>
  </div>
  <div class="user-info pam">
    <div class="clearfix">
      <div class="user">
        <%= image_tag "admin/avatar.png"%>
        <br />
        <br />
      </div>
      <ul class="user-links">
        <li><%= link_to "Профиль", "" %></li>
        <li><%= link_to "Сменить пароль", "" %></li>
        <li><%= link_to "Выход", "" %></li>
      </ul>
    </div>
  </div>
</div>