<ul class="main_menu bottom">
	<li><a href="#">О нас</a>
	<li><a href="#">Способы оплаты</a>
	<li><a href="#">Доставка</a>
	<li><a href="#">Контакты</a>
	<li><a href="#">Частые вопросы</a>
</ul>
<a class="right" href="#">Оставить отзыв</a>