<div class="header">
	<div class="header_logo"><%= link_to image_tag("logo.png", width: '250'), page_index_path %></div>
	<div class="header_center"></div>
	<div class="header_right right">
		<ul class="upper_menu"><%=render "shared/upmenu"%></ul>
		<div class="contacts"></div>
	</div>
	<ul class="main_menu"><%=render "shared/menu"%></ul>
	<div class="currency"></div>
</div>
<ul class="nav">
	<li>
		<a href="#">Бренды</a>
		<ul>
			<% @brands.each do |brand|  %>
			<li class="in">
				<%= link_to brand.name, brand_path(brand) %>
			</li>
		<% end %>
		</ul>
	</li>
</ul>
	<form class="search_form right">
    	<input id="products_search" placeholder="Поиск товара"></input>
      <button type="submit" class="searchbtn right"></button>
	</form>

<div class="cls"></div>


