<div class="header">
		<div class="header_logo"><a href="/page"><img src="/images/site/logo_v2.png"/></a></div>
		<div class="header_center"></div>
		<div class="header_right right">
<!-- 			<ul class="upper_menu">
				<li><a href="#"><img width="50" src="images/menu/key.png"/></a></li>
				<li><a href="#"><img width="50" src="images/menu/users.png"/></a></li>
				<li><a href="#"><img width="50" src="images/menu/shopping_bag.png"/></a></li>
				<li><a href="#"><img width="50" src="images/menu/question_balloon.png"/></a></li>
			<ul> -->
			<ul class="upper_menu">
				<li><a href="#"><img width="55" src="menu/key(2).png"/></a></li>
				<li><a href="#"><img width="55" src="menu/user_f.png"/></a></li>
				<li><a href="#"><img width="55" src="shopping_basket.png"/></a></li>
				<li><a href="#"><img width="55" src="question_4.png"/></a></li>
			<ul>
			<div class="contacts"></div>
		</div>
		<ul class="main_menu">
			<li><a href="#">О нас</a>
			<li><a href="#">Способы оплаты</a>
			<li><a href="#">Доставка</a>
			<li><a href="#">Контакты</a>
			<li><a href="#">Частые вопросы</a>
		</ul>
		<div class="currency"></div>
	</div>
	<div class="search_line">
		<input></input>
		<button>Искать</button>
		<a href="#">Актуальные предложения</a>
		<button class="right">Подписаться</button>
	</div>
	<div class="brand_line">
		<a href="#">Бренд</a>
		<a href="#">Бренд</a>
		<a href="#">Бренд</a>
		<a href="#">Бренд</a>
		<a href="#">Бренд</a>
		<a href="#">Бренд</a>
		<a href="#">Бренд</a>
		<a href="#">Бренд</a>
		<a href="#">Бренд</a>
		<a href="#">Бренд</a>
		<a href="#">Бренд</a>
		<a href="#">Бренд</a>
		<a href="#">Бренд</a>
		<a href="#">Бренд</a>
		<a href="#">Бренд</a>
		<a href="#">Бренд</a>
		<a href="#">Бренд</a>
		<a href="#">Бренд</a>
		<a href="#">Бренд</a>
		<a href="#">...</a>
	</div>
	<hr noshade="noshade" size="1"/>