<div class="bar left">
	<div class="filterheader"><h4>Фильтр</h4></div>
	<h5>Бренд</h5>
	<div class="multiselect">
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
	</div>
	<h5>Размер</h5>
	<div class="multiselect">
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
	</div>
	<h5>Цена</h5>
	<div class="multiselect">
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
	</div>
	<h5>Ширина</h5>
	<div class="multiselect">
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
	</div>
	<h5>Категория</h5>
	<div class="multiselect">
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
	</div>
	<h5>Стиль</h5>
	<div class="multiselect">
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
	</div>
	<h5>Цвет</h5>
	<div class="multiselect">
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
	</div>
	<h5>Материал</h5>
	<div class="multiselect">
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
		<a href="#">Field 1</a>
	</div>
</div>