<li><%= link_to image_tag("key(2).png"), "#" %></li>
<li><%= link_to image_tag("user_f.png"), "#" %></li>
<li><%= link_to image_tag("shopping_basket.png"), "#" %></li>
<li><%= link_to image_tag("question_4.png"), "#" %></li>