<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Интернет-магазин Garderob4ik</title>
	<link type="text/css" rel="stylesheet" media="all" href="style.css">
</head>
<body>
<div class="page">
	<%=render "shared/header"%>
	<div class="main_banner margint5 left">
		<a href="#"><img src="images/site/big_banner1.jpg"></img></a>
	</div>
	<div class="right_banner margint35 right">
		<a href="#"><img src="images/site/right_banner1.jpg"></img></a>
		<a class="more" href="/gard/all"><h4>More special offers</h4></a>
	</div>
	<div class="cls"></div>
	<div class="popular_brands  margint20 left">
		<div class="popular_brands_line marginb20">
			<img src="images/site/brand_2.jpg"></img>
			<img src="images/site/brand_4.jpg"></img>
			<img src="images/site/brand_3.jpg"></img>
			<img src="images/site/brand_4.jpg"></img>
			<img src="images/site/brand_5.jpg"></img>
			<img src="images/site/brand_1.jpg"></img>
		</div>
		<div class="popular_brands_line marginb20">
			<img src="images/site/brand_4.jpg"></img>
			<img src="images/site/brand_5.jpg"></img>
			<img src="images/site/brand_2.jpg"></img>
			<img src="images/site/brand_4.jpg"></img>
			<img src="images/site/brand_3.jpg"></img>
			<img src="images/site/brand_1.jpg"></img>
		</div>
		<div class="popular_brands_line marginb20">
			<img src="images/site/brand_3.jpg"></img>
			<img src="images/site/brand_2.jpg"></img>
			<img src="images/site/brand_4.jpg"></img>
			<img src="images/site/brand_5.jpg"></img>
			<img src="images/site/brand_4.jpg"></img>
			<img src="images/site/brand_1.jpg"></img>
		</div>
		<div class="popular_brands_line marginb20">
			<img src="images/site/brand_4.jpg"></img>
			<img src="images/site/brand_5.jpg"></img>
			<img src="images/site/brand_2.jpg"></img>
			<img src="images/site/brand_4.jpg"></img>
			<img src="images/site/brand_3.jpg"></img>
			<img src="images/site/brand_1.jpg"></img>
		</div>
	</div>
	<div class="right_banner social margint20 right">
		<img width="253" src="images/site/social2.jpg"/>
	</div>
	<div class="cls"></div>
	<br>
	<br>
	<hr noshade="noshade" size="1"/>
	<%=render "shared/footer"%>
</div>
</body>
</html>