/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body{ margin:0px; }
.page {
  width: 1050px;
  margin-left: auto;
  margin-right: auto;
 }
 .header {
  height: 100px;
  background: none repeat scroll 0 0 #003636;
  color: #fff;
  text-align: center;
 }

 .left_bar {
  margin-top: 20px;
  width: 245px;
  height: 600px;
  float: left;
  border: 1px solid #555;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-box-shadow: 1px 5px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    1px 5px 5px rgba(50, 50, 50, 0.75);
  box-shadow:         1px 5px 5px rgba(50, 50, 50, 0.75);

 }
 .fheader{
    color: #222222;
    font-size: 13px;
    padding: 5px 0 5px 5px;
    margin: 0px;
    background: #CCCCCC;
 }
  .right_bar {
  margin-top: 20px;
  width: 245px;
  height: 600px;
  float: right;
  border: 1px solid #555;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-box-shadow: 1px 5px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    1px 5px 5px rgba(50, 50, 50, 0.75);
  box-shadow:         1px 5px 5px rgba(50, 50, 50, 0.75);
 }
 .right_bar .brandimg{
  height: 50px;
  background: #F1F1F1;
  border-bottom: 1px solid #555;
  display: block;
  color: #555;
  text-align: center;
 }
  .right_bar .price {
    border-bottom: 1px solid #555;
    color: #98002E;
    font-size: 30px;
    line-height: 0.85em;
    text-align: center;
  }
.right_bar .prop {
    border-bottom: 1px solid #555;
    color: #000;
    font-size: 15px;
    line-height: 0px;
    text-align: left;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
.right_bar .prop select {margin-left: auto;}
.right_bar .prop p {
  margin: 10px 0px;
  color: #404040;
  font-size: 14px;
  }
.right_bar .prop select {margin-left: auto; width: 150px;}
.main {
  margin: auto;
  margin-top: 20px;
  width: 800px;
  float: left;
 }
.main h2 {
    text-align: center;
    margin: 2px 0px;
  }
.main h3 {
    margin-bottom: 0px;
  }
  .main p {
    margin: 0px;
    font-color: #555;
    margin-top: 5px;
    font-size: 16px;
    
  }
.sort {
  width: 98%;
  float: right;
  background: none repeat scroll 0 0 #EFF7F7;
  
}
.sort h5 {
  font-size: 12px;
  display: block;
  float: left;
  padding: 4px 8px;
  color: #555;
  margin: 0px;
}

.sort h5.options{
  font-weight: 200;
}
.prodInfo h3 {
    padding-left: 10px;
    color: #fff;
    background: none repeat scroll 0 0 #7E8083;
  }
.product {
    display: block;
    float: left;
    font-size: 10px;
    line-height: 16px;
    padding: 0px 5px;
    position: relative;
    text-align: center;
    width: 190px;
}

.product span {
    display: block;
    font-size: 1.1em;
    margin: 1px 0;
    text-decoration: underline;
    width: 100%;
}
.product a {
  color: #000;
  text-decoration: none;
  border: 0px;
}
.product .brandName {
  font-size: 12px;
  font-weight: bold;
  margin-top: 10px;
}

.product span.price {
    color: #333333;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}
.footer {
    background: none repeat scroll 0 0 #363636;
    height: 232px;
    width: 100%;
}
.apple_pagination {
  width: 800px;
  margin-top: 10px;
  padding: 5px 0px;
  float:left;
}

/*.product img {
    display: block;
    text-decoration: none;
}*/

/*.product .productImg {
  height: 198px;
  width: 170px;
}*/

.product-image-preview{
  width:480px;
  height:360px;
  padding:5px;
  margin-bottom:5px;
  border:1px solid #eee
}

.product-image-preview .inner{
  display:table-cell;
  vertical-align:middle;
  text-align:center;
  width:480px;
  height:360px
}

.product-image-preview img{
  max-width:480px;
  max-height:360px
}

.product-image-gallery .photo{
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  _overflow:hidden;
  *display:inline;
  border:1px solid #f3f3f3;
  width:50px
}

.product-image-gallery .photo img{width:100%}

