/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body{ margin:0px; }
.page {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
 }
 .header {
  height: 80px;
  background: none repeat scroll 0 0 #003636;
  color: #fff;
  text-align: center;
 }

 .left_bar {
  width: 196px;
  height: 600px;
  float: left;
  border: 1px solid black;
  border-radius: 4px;
 
 }
  .right_bar {
  width: 195px;
  height: 600px;
  float: right;
  border: 1px solid black;
  border-radius: 4px;
 }
 .right_bar .brandimg{
  height: 35px;
  background: #000;
  display: block;
  color: #fff;
  text-align: center;
 }
  .right_bar .price {
    border-bottom: 1px solid black;
    color: #98002E;
    font-size: 30px;
    line-height: 0.85em;
    text-align: center;
  }
.right_bar .prop {
    border-bottom: 1px solid black;
    color: #000;
    font-size: 15px;
    line-height: 0px;
    text-align: left;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
.right_bar .prop p {margin: 0px;}
.right_bar .prop select {margin-left: auto;}
.main {
  width: 800px;
  margin: auto;
  float: left;

 }
.main h2 {
    text-align: center;
  }
.main h3 {
    margin-bottom: 0px;
  }
/*.prodPhotos {
  width: 550px;
  height: 53px;
  display: block;
  border: 1px dotted black;
}*/
.prodInfo h3 {
    padding-left: 10px;
    color: #fff;
    background: none repeat scroll 0 0 #7E8083;
  }
.product {
    display: block;
    float: left;
    font-size: 10px;
    line-height: 16px;
    padding: 0px 10px;
    position: relative;
    text-align: center;
    width: 170px;
}

.product span {
    display: block;
    font-size: 1.1em;
    margin: 1px 0;
    text-decoration: underline;
    width: 100%;
}
.product .brandName {
  font-size: 12px;
  font-weight: bold;
  margin-top: 10px;
}

.product span.price {
    color: #333333;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}
.footer {
    background: none repeat scroll 0 0 #363636;
    height: 232px;
    width: 100%;
}
.apple_pagination {
  width: 800px;
  margin-top: 10px;
  padding: 5px 0px;
  float:left;
}

/*.product img {
    display: block;
    text-decoration: none;
}*/

/*.product .productImg {
  height: 198px;
  width: 170px;
}*/

