/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.product {
    display: block;
    float: left;
    font-size: 10px;
    line-height: 16px;
    padding: 0px 10px;
    position: relative;
    text-align: center;
    width: 170px;
}

.product span {
    display: block;
    font-size: 1.1em;
    margin: 1px 0;
    text-decoration: underline;
    width: 100%;
}

/*.product img {
    display: block;
    text-decoration: none;
}*/

/*.product .productImg {
  height: 198px;
  width: 170px;
}*/

.product .brandName {
  font-size: 12px;
  font-weight: bold;
  margin-top: 10px;
}

.product span.price {
    color: #333333;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}