<div class="brandlist">
	<div class="brandheader">Бренды в каталоге:</div>
	<div class="content">
		<% @brands.each do |brand| %>
			<span><%= link_to brand.name, brand_path(brand) %> [<%= brand.items.count %>]</span>
		<% end %>
	</div>
</div>
