	<%=render "shared/lmenu"%>
	<div class="main">
		<div class="sort">
			<h5>Сортировать по:</h5>
			<a href="#" class="active"><h5 class="options active">Названию</h5></a>
			<a href="#"><h5 class="options">Популярности</h5></a>
			<a href="#"><h5 class="options">Дате добавления</h5></a>
			<a href="#"><h5 class="options">Цене&uarr;</h5></a>
			<a href="#"><h5 class="options">Цене&darr;</h5></a>
			<a href="#"><h5 class="options">Величине скидки</h5></a>
			<div class="pagination right">
				<a href="#"><h5 class="active">1</h5></a>
				<a href="#"><h5>2</h5></a>
				<a href="#"><h5>3</h5></a>
				<h5>...</h5>
				<a href="#"><h5>400</h5></a>
			</div>
		</div>
		<%= render "shared/item_list", :items => @items %>
	</div>
	<div class="sort bottom">
		<h5>Сортировать по:</h5>
		<a href="#" class="active"><h5 class="options active">Названию</h5></a>
		<a href="#"><h5 class="options">Популярности</h5></a>
		<a href="#"><h5 class="options">Дате добавления</h5></a>
		<a href="#"><h5 class="options">Цене&uarr;</h5></a>
		<a href="#"><h5 class="options">Цене&darr;</h5></a>
		<a href="#"><h5 class="options">Величине скидки</h5></a>
		<div class="pagination right">
			<a href="#"><h5 class="active">1</h5></a>
			<a href="#"><h5>2</h5></a>
			<a href="#"><h5>3</h5></a>
			<h5>...</h5>
			<a href="#"><h5>400</h5></a>
		</div>
	</div>




