<div style="width:800px;  margin: auto;" >
	<center><h2><u>Oбувь</u></h2></center>
	<% @items.each do |item| %>
	<div class="product">
		<%#= image_tag ( image_path( item.image_path ) ) %>
		<!-- <span class="brandName"><%#= shoe.brandname %></span> -->
		<!-- <span class="productName"><%#= item.productname %></span> -->
		<!-- <span class="price"><%#= item.price_ua.to_i %> грн.</span> -->
	</div>
	<% end %>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
	<div class="apple_pagination" style="width:800px; float:left;">
		<%= will_paginate @items %>
	</div>
</div>

